.media {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: block;
	height: 208px;
	line-height: 1.428571429;
	padding: 0;
	width: 176px;

		.icons {
			display: none;
		}

		&:hover > .icons {
			background: grey;
			border-radius: 3px;
			color: #ffffff;
			cursor: pointer;
			display: block;
			padding: 0 4px;
			position: absolute;
			right: 10px;
			bottom: 7px;
			z-index: 10;

			i {
				padding: 2px;
			}

			.delete {
				background: grey;
				border-radius: 3px;
				color: #ffffff;
				cursor: pointer;
				display: block;
				padding: 0 4px;
				position: absolute;
				right: 0px;
				top: 0px;
			}
		}

	.thumb {
		height: 176px;
		position: relative;
		width: 176px;
		border-bottom: 1px solid #dddddd;

		&.image {
			max-height: 176px;
			display: table-cell;
			vertical-align: middle;
			overflow: hidden;
			cursor: pointer;
		}

		&.other {
			background: url('http://placehold.it/176x176&text=Other') no-repeat;

			&.pdf {
				background: url('http://placehold.it/176x176&text=pdf') no-repeat;
			}

			&.txt {
				background: url('http://placehold.it/176x176&text=txt') no-repeat;
			}
		}

		_img {
			max-height: 100%;
			display: block;
			margin: 0px auto;
		}
	}

	.name {
		background: #ffffff;
		border-radius: 0 0 3px 3px;
		cursor: default;
		font-size: 11px;
		padding: 6px;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.form {

		.content {
			padding: 10px;
			height: 176px;
			border-bottom: 1px solid #dddddd;
		}

		.name {
			width: 176px;
			background: #ffffff;
			border: none;
			cursor: text;
			padding: 8px;

			&:focus { outline: none; }
		}
	}

}

.media > img {
	margin-left: auto;
	margin-right: auto;
}
